#about {
  margin: 1vh 26vw 10vh 30vw;
  text-align: left;
}

#about::after {
  content: "";
  display: block;
  clear: both;
}

#title {
  color: #800020;
}

.job {
  color: #800020;
}

#about-me {
  float: left;
  margin-right: 5vw;
}

#skills {
  float: left;
  margin-left: 0;
}

#skills-logos {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
  float: left;
  padding-right: 0;
  margin-bottom: 3vh;
}

#skills-logos-2 {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
  float: left;
  padding-right: 0;
  margin-bottom: 3vh;
  width: 95%;
}

#skills-logos-3 {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
  float: left;
  padding-right: 0;
  margin-bottom: 3vh;
  width: 100%;
}

#skills-logos > li {
  display: inline;
}

#skills-logos-2 > li {
  display: inline;
}

#skills-logos-3 > li {
  display: inline;
}
