#navbar {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  list-style: none;
  border-bottom: 2px solid #800020;
  line-height: 2em;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}

#navbar > #namenav {
  font-size: 20px;
  margin-right: 4vw;
}

#navbar li {
  float: left;
  margin-right: 2vw;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}